opencv-python
opencv-python-headless
requests
mediapipe
pydantic
youtube-search-python
pytube

eel
pyautogui
pycaw
webbrowser
pyttsx3==2.71
SpeechRecognition==3.8.1
pynput==1.7.3
wikipedia==1.4.0
comtypes==1.1.11